html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #fff;
    font-family: Agbalumo;
    font-weight: 100;
    font-size: 2em;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
}
article{
display: flex;
flex-direction: column;
align-items: center;
background-color: #59a891;
text-align: center;
}
img{
    display: flex;
    border: solid 2px #92AFFF;
    border-radius: 10px;
    max-width: 200px;
}
footer{
    display: flex;
    justify-content: center;
}
button{
    color: #fff;
    background-color: #92AFFF;
    border: solid 2px #317060;
    border-radius: 5px;
    font-size: larger;
    padding: 15px 30px 15px 30px;
}
p{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.5em
}
